                     td {
                         color: yellowgreen;
                         text-align: center;
                     }
                     
                     th {
                         color: blue;
                         text-align: center;
                     }
                     
                     border {
                         color: red;
                     }